{% extends 'BBBLoadBalancerThemeBundle::bootstrap.html.twig' %}

{% block title %}Admin | BBB Load balancer{% endblock %}

{% block body_class %}admin{% endblock %}

{% block body %}
  {{ source('@templates/application.html') }}
  {{ source('@templates/navigation.html') }}
  {{ source('@templates/users.html') }}
  {{ source('@templates/servers.html') }}
  {{ source('@templates/server.html') }}
  {{ source('@templates/meetings.html') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    var host_path = "{{ url('root') ~ "api" }}";
    </script>
    {% javascripts
        '%kernel.root_dir%/../vendor/components/handlebars.js/handlebars.js'
        '%kernel.root_dir%/../vendor/brunogoossens/ember/ember.js'
        '%kernel.root_dir%/../vendor/brunogoossens/ember-data/ember-data.js'
        '%kernel.root_dir%/../vendor/eleiva/yii2-noty/assets/jquery.noty.js'
        '%kernel.root_dir%/../vendor/eleiva/yii2-noty/assets/noty.bootstrap.js'
        '%kernel.root_dir%/../vendor/moment/moment/moment.js'

        '@BBBLoadBalancerAdminBundle/Resources/public/js/application.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/controllers/user_controller.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/controllers/users_controller.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/controllers/server_controller.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/controllers/servers_controller.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/views/views.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/models/user.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/models/server.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/models/meeting.js'
        '@BBBLoadBalancerAdminBundle/Resources/public/js/router.js'

        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    // noty defaults
    $.noty.defaults = {
        layout: 'topCenter',
        theme: 'defaultTheme',
        type: 'alert',
        text: '',
        dismissQueue: true, // If you want to use queue feature set this true
        template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
        animation: {
          open: {height: 'toggle'},
          close: {height: 'toggle'},
          easing: 'swing',
          speed: 500 // opening & closing animation speed
        },
        timeout: 5000, // delay for closing event. Set false for sticky notifications
        force: false, // adds notification to the beginning of queue when set to true
        modal: false,
        closeWith: ['click'], // ['click', 'button', 'hover']
        callback: {
          onShow: function() {},
          afterShow: function() {},
          onClose: function() {},
          afterClose: function() {}
        },
        buttons: false // an array of buttons
    };

    </script>
{% endblock %}