{% extends 'TeamspotThemeAlfaBundle::base.html.twig' %}

{% block body_classes %}{{ parent() }} forget-pass{% endblock %}

{% block popup %}
<div class="title">{{ "userbundle.views.loginpages.forgotpass.title" | trans }}</div>
{{ form_errors(form) }}
<form ajax="popup" action="{{ path("forgot_password") }}" {{ form_enctype(form) }} method="post">
    {{ form_row(form.email) }}
    {{ form_rest(form) }}
    <div>
        <button type="submit" class="button" name="submit" ><div class="button-icon sprite-icon sprite-icon-mail"></div><div class="button-text">{{ 'userbundle.views.loginpages.forgotpass.button'|trans }}</div></button>
    </div>
</form>
{% endblock%}