{% extends 'BBBLoadBalancerThemeBundle::bootstrap.html.twig' %}

{% block body_class %}reset-password{% endblock %}

{% block content %}
  <form action="{{ path("password_reset", {"user_secret_key":user.secretKey, "user_id": user.id}) }}" method="post" class="form-pass-reset" role="form">
    <h2 class="form-signin-heading">Reset Password</h2>
    {% if user_errors %}
    	{% for err in user_errors %}
        <div class="alert alert-danger" role="alert">
          <strong>Error!</strong> {{ err.message }}
        </div>
    	{% endfor %}
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
          <strong>Error!</strong> {{ error }}
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
          <strong>Error!</strong> {{ success }} <a href="{{ path("login") }}" class="alert-link">Login</a>
        </div>
    {% endif %}

    <div class="form-group">
	    <label for="inputEmail" class="sr-only">New Password</label>
	    <input type="password" id="inputEmail" name="plainPassword1" class="form-control" placeholder="Password" required autofocus>
	</div>
	<div class="form-group">
	    <label for="inputEmail" class="sr-only">Repeat Password</label>
	    <input type="password" id="inputEmail" name="plainPassword2" class="form-control" placeholder="Password" required>
	</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
  </form>
{% endblock %}