{% extends 'TeamspotThemeAlfaBundle::base.html.twig' %}

{% block body_classes %}{{ parent() }} reset-password{% endblock %}

{% block content %}
<h1>{{ "userbundle.views.loginpages.resetpass.title" | trans }}</h1>
{{ form_errors(form) }}
<form ajax="popup" action="{{ path("password_reset", {'user_secret_key':user_secret_key, 'user_id':user_id}) }}" {{ form_enctype(form) }} method="post">
    {{ form_row(form.plainPassword) }}
    {{ form_rest(form) }}
    <div>
        <input type="submit" class="button" name="submit" value="{{ 'userbundle.views.loginpages.resetpass.button'|trans }}" />
    </div>
</form>
{% endblock%}